<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP3 Platform</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- start Header -->
    <div class="header">
        <div class="container">
            <div class="header__container">
                <div class="header__logo">MP3 Platform</div>
                <!-- <div class="header__links">
                    <ul>
                        <li>Home</li>
                        <li>link 1</li>
                        <li>link 2</li>
                        <li>link 3</li>
                    </ul>
                </div> -->
                <div class="header__profile">
                    <div class="d-flex">
                        <div class="header__profile-image"></div>
                        <div class="header__profile-username"></div>
                    </div>
                </div>
                <div class="header__sign">
                    <div class="header__sign-in">Sign In</div>
                    <div class="header__sign-up">Sign Up</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Header -->
    <!-- Start Hero -->
    <div class="hero">
        <h1>Load <div class="music-symbol">♫</div> Music</h1>
    </div>
    <!-- End Hero -->

    <!-- Start Main -->
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="library">
                    <div class="library__header">
                        <div class="library__header-title">Library</div>
                        <!-- <div class="library__header-add"><img src="assets/images/plus.png"/></div> -->
                    </div>
                    <div class="library__list">
                        <div class="library__list-item active">
                            <div class="library__list-item-image"><img src="./assets/images/heart.png"/></div>
                            <div class="library__list-item-content">
                                <div class="library__list-item-title">Likes</div>
                                <div class="library__list-item-subtitle">Playlist • 3 songs</div>
                            </div>
                        </div>
                        <div class="library__list-item ">
                            <div class="library__list-item-image"><img src="./assets/images/upload.png"/></div>
                            <div class="library__list-item-content">
                                <div class="library__list-item-title">Uploads</div>
                                <div class="library__list-item-subtitle">Playlist • 3 songs</div>
                            </div>
                        </div>
                        <div class="library__list-item">
                            <div class="library__list-item-image"><img src="./assets/images/playlist.png"/></div>
                            <div class="library__list-item-content">
                                <div class="library__list-item-title">Playlists</div>
                                <div class="library__list-item-subtitle">Playlist • 3 songs</div>
                            </div>
                        </div>
                        <div class="sub__list ml-5">
                            <div class="library__list-item">
                                <div class="library__list-item-image"><img src="./assets/images/music.png" class="playlist-img"/></div>
                                <div class="library__list-item-content">
                                    <div class="library__list-item-title">Playlists</div>
                                    <div class="library__list-item-subtitle">Playlist • 3 songs</div>
                                </div>
                            </div>
                            <div class="library__list-item">
                                <div class="library__list-item-image"><img src="./assets/images/music.png" class="playlist-img"/></div>
                                <div class="library__list-item-content">
                                    <div class="library__list-item-title">Playlists</div>
                                    <div class="library__list-item-subtitle">Playlist • 3 songs</div>
                                </div>
                            </div>
                            <div class="library__list-item">
                                <div class="library__list-item-image"><img src="./assets/images/music.png" class="playlist-img"/></div>
                                <div class="library__list-item-content">
                                    <div class="library__list-item-title">Playlists</div>
                                    <div class="library__list-item-subtitle">Playlist • 3 songs</div>
                                </div>
                            </div>
                            <div class="library__list-item">
                                <div class="library__list-item-image"><img src="./assets/images/music_symbol.png" /></div>
                                <div class="library__list-item-content">
                                    <div class="library__list-item-title">Playlists</div>
                                    <div class="library__list-item-subtitle">Playlist • 3 songs</div>
                                </div>
                            </div>
                            <div class="library__list-item">
                                <div class="library__list-item-image"><img src="./assets/images/music.png" class="playlist-img"/></div>
                                <div class="library__list-item-content">
                                    <div class="library__list-item-title">Playlists</div>
                                    <div class="library__list-item-subtitle">Playlist • 3 songs</div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="list">
                    <div class="list__header">
                        <div class="list__header-title">My Likes 
                            <!-- <div class="list__header-songs-count">439 Songs</div> -->
                        </div>
                        <div class="list__header-controls">
                            <div class="control play"><img src="./assets/images/play.png"/></div>
                            <div class="control shuffle"><img src="./assets/images/shuffle.png" /></div>
                            <div class="control download"><img src="./assets/images/download.png" /></div>
                        </div>
                    </div>
                    <div class="list__items">
                        <div class="list__item">
                            <div class="list_item-# mx-3">1</div>
                            <div class="list__item-image">
                                <img src="./assets/images/music.png" alt="">
                            </div>
                            <div class="list__item-like"><img src="./assets/images/heart.png"/></div>
                            <div class="list__item-title">kifndir</div>
                            <div class="list__item-artist">vnis</div>
                            <div class="list__item-time">2:20</div>
                        </div>
                        <div class="list__item">
                            <div class="list_item-# mx-3">2</div>
                            <div class="list__item-image">
                                <img src="./assets/images/music.png" alt="">
                            </div>
                            <div class="list__item-like"><img src="./assets/images/heart.png"/></div>
                            <div class="list__item-title">kifndir</div>
                            <div class="list__item-artist">vnis</div>
                            <div class="list__item-time">2:20</div>
                        </div>
                        <div class="list__item">
                            <div class="list_item-# mx-3">3</div>
                            <div class="list__item-image">
                                <img src="./assets/images/music.png" alt="">
                            </div>
                            <div class="list__item-like"><img src="./assets/images/heart.png"/></div>
                            <div class="list__item-title">kifndir</div>
                            <div class="list__item-artist">vnis</div>
                            <div class="list__item-time">2:20</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Main -->

    <!-- Start Player -->
    <div class="player">
        <div class="player__music">
            <div class="player__music-image">
                <img src="./assets/images/music.png" />
            </div>
            <div class="player__music-content">
                <div class="player__music-title">212</div>
                <div class="player__music-artist">Dada, Rita Kamale, NAB FAKE</div>
            </div>
            <div class="player__music-like"><img src="./assets/images/plus.png"/></div>
        </div>
        <div class="player__contols">
            <div class="player__contols-btns">
                <div class="player__btn-suffle">
                    <img src="./assets/images/shuffle.png"/>
                </div>
                <div class="player__btn-prev">
                    <img src="./assets/images/previous.png"/>
                </div>
                <div class="player__btn-play">
                    <img src="./assets/images/play-button.png"/>
                </div>
                <div class="player__btn-next">
                    <img src="./assets/images/next.png"/>
                </div>
                <div class="player__btn-repeat">
                    <img src="./assets/images/repeat.png"/>
                </div>
            </div>
            <div class="player__contols-progress">
                <div class="player__contols-progress-time">1:22</div>
                <div class="player__contols-progress-bar"><progress value="3" max="10"></progress></div>
                <div class="player__contols-progress-time-total">2:15</div>
            </div>
        </div>
        <div class="player__volume">
            <img src="./assets/images/volume.png" alt="">
            <progress value="3" max="10"></progress>
        </div>
    </div>
    <!-- End Player -->
</body>
</html>